body{
    background-color: grey;
    animation: change 7s infinite;
    transition: 5s;
}

@keyframes change {
    0%{
      background-color: red;  
    }10%{
        background-color: rgb(117, 190, 117);
    }20%{
        background-color: rgb(165, 165, 84);
    }30%{
        background-color: rgb(38, 65, 65);
    }40%{
        background-color: rgb(126, 126, 185);
    }50%{
        background-color: rgb(50, 11, 87);
    }60%{
        background-color: rgb(216, 147, 159);
    }70%{
        background-color: rgb(56, 50, 17);
    }80%{
        background-color: rgb(100, 56, 25);
    }90%{
        background-color: rgb(85, 71, 71);
    }100%{
        background-color: rgb(32, 22, 22);
    }
}

div{
    margin: 0;padding: 0;
}
button{
    animation: change 2s infinite;
    width: 100px;
    height: 40px;
    margin-left: 5px;
    background-color: pink;
    color: #000;
    border-radius: 30%;
    font-size: 25;
    border: none;
}

button:hover{
    background-color: blueviolet;
    transition: 1s;
    border: none;
}
h1{
    font-weight: 900;
    font-size: 20;
}
h2{

    font-weight: bold;
    font-size: 20;
}
h3{
    margin-top: 10px;
    font-weight: lighter;
    font-size: 35;
    

}